<div class="row">
  <div class="col col-7 bg-light p-3">
    <% @order.items.each do |item| %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= item.product.image_url %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
             <div class="card-body">
                <h5 class="card-title">Title: <%= item.product.title %></h5>
                <p class="card-text">Description: <small class="text-muted"><%= item.product.description %></small></p>
                <p class="card-text">unit Price: <%= item.unit_price %></p>
                <p class="card-text">Quantity: <%= item.quantity %></p>
                <%= link_to 'Remove', item_path(item), method: :delete, class: "cart-link" %>
             </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col col-5 bg-light p-3">
    <div class="bg-white mb-3 p-3 rounded-3">
        <label class="fs-5 mb-2">Price Details</label>
        <div class="d-flex">
            <label class="fs-6 fw-lighter col-10"> Total MRP </label>
            <label class="fs-6 fw-lighter"><%= @order.item_total %></label>
        </div>
    </div>
    </br>
    </br>
    <a href="<%= store_index_path %>" class="btn btn-primary">Continue shopping</a>
    <a href="<%= address_orders_path %>" class="btn btn-primary">Proceed to checkout</a>
  </div>
</div>